body {
  background-image: url(../img/pattern.jpg);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

/* header {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
} */

nav li {
  list-style: none;
  display: inline-block;
  margin-right: 16px;
}

a {
  text-decoration: none;
  
}

nav li:hover {
  background-color: whitesmoke;
  color: teal;
}

section {
  margin-top: 32px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: white;
  position: relative;
  top: 70px;
  padding: 20px;
  margin-bottom: 100px;
}

h1 {
  text-align: center;
}

article {
  border-top: 2px solid #ddd;
}

h5 {
  text-align: center;
}

footer {
  display: flex;
  position: relative;
  width: 100%;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: black;
  color: white;
  height: 50px;
  justify-content: center;
  align-items: center;
}

th {
  height: 30px;
  background-color: #ddd;
}

th, td {
  padding: 4px;
  text-align: left;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid #ddd;
}

/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-width{
    width: 100%;
    height: 48px;
}

/* button {
  padding: 10px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 6px;
  margin-bottom: 8px;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */
